* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: cyan;
}

div.header {
	display: block;
	height: 60px;
	background-color: greenyellow;
	text-align: center;
	font-size: 150%;
}

div.header a {
	text-decoration: none;
	height: 100%;
	float: left;
}

div.header a img {
	height: 100%;
	float: left;
}

div.header a h1 {
	display: block;
	float: left;
	font-size: inherit;
	padding: 10px;
}

div.center {
	height: 800px;
	width: 70%;
	background-color: pink;
	margin: auto;
	text-align: center;
	position: relative;
	top: 20px;
}

div#column1 {
	position: absolute;
	top: 25%;
	left: 7.5%;
	background-color: beige;
	height: 40%;
	width: 40%;
}

div#column2 {
	position: absolute;
	top: 25%;
	right: 7.5%;
	background-color: beige;
	height: 40%;
	width: 40%;
}

div.column a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: 150%;
}

div.column a span {
	position: absolute;
	top: 40%;
	left: 40%;
}
