* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: url(./src/background.jpg) fixed ;
}

div.header {
	height: 200px;
}

div.header a {
	display: block;
	height: 100%;
	width: 960px;
	background: url(./src/logo.jpg) no-repeat center;
	text-decoration: none;
	margin: auto;
}


div.center {
	height: 800px;
	width: 70%;
	margin: auto;
	text-align: center;
	position: relative;
	top: 20px;
}
div.column{
	background: url(./src/background.jpg);
}
div#column1 {
	position: absolute;
	top: 25%;
	left: 7.5%;
	background-color: beige;
	height: 40%;
	width: 40%;
}

div#column2 {
	position: absolute;
	top: 25%;
	right: 7.5%;
	background-color: beige;
	height: 40%;
	width: 40%;
}

div.column a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: 150%;
}

div.column a span {
	position: absolute;
	top: 40%;
	left: 40%;
}
